root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true
csharp_prefer_braces = true:warning
csharp_prefer_simple_using_statement = false:warning
dotnet_diagnostic.IDE0011.severity = warning
dotnet_diagnostic.IDE0063.severity = warning

[*.{json,yml,yaml,props,csproj,slnx}]
indent_style = space
indent_size = 2
